<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Noticias</li>
  </ol>
</nav>

<!-- Noticia -->
<!-- Inicio de Section -->
<section>

  <div id="fh5co-title-box"
      style="background-image: url(images/globalizacioncompleta.png); background-position: 50% 90.5px;"
      data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="page-title">

          <span>Octubre 2020</span>
          <h2>LOS EFECTOS DE LA GLOBALIZACIÓN Y LAS CARACTERÍSTICAS DE LA SOCIEDADES ACTUALES</h2>
      </div>
  </div>
  <div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
      <div class="container paddding">
          <div class="row mx-0">
              <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                  <p>
                      *Por Jazmín Guzmán y Nahuel Ramos, con profesora Flavia Hidalgo- FVT
                  </p>
                  <br>
                  <br>
                  <p>
                      En Argentina en las últimas décadas se han producido transformaciones económicas, laborales,
                      culturales, sociales y tecnológicas producidas por los efectos de los procesos de
                      globalización e internacionalización como el desempleo, el trabajo informal, el subempleo y
                      la pobreza.
                  </p>
                  <br>
                  <p>
                      Los desafíos se sucedieron, como no conectamos, que cantidad de actividades podíamos darles
                      a los chicos, con qué frecuencia, como lograr el acompañamiento de las familias, como
                      enviamos las actividades, como hacer las devoluciones, qué hacer con los alumnos que no
                      tenían acceso a dispositivos tecnológicos para conectarse, como entregar material impreso,
                      como evaluábamos, todo lo fuimos abordando en base al esfuerzo por mantener la escuela en
                      funcionamiento, para que cumpliera su rol de contención en una situación de aislamiento que
                      provocaba mucha ansiedad e incertidumbre en nuestros jóvenes y en sus familias.
                  </p>

                  <p>
                      En este mundo global el sector laboral se caracteriza por ser segmentado y heterogéneo:
                      coexisten trabajadores registrados con beneficios fundamentales y un amplio sector en el que
                      prevalecen trabajos precarios.
                      En este contexto el trabajador necesita nuevos conocimientos, nuevas formas y pautas de
                      comportamiento, nuevos instrumentos de trabajo.
                      La globalización, entendida como un proceso económico, tecnológico, social y cultural a gran
                      escala y consiste en la creciente comunicación, interdependencia e integración entre los
                      distintos países del mundo unificando sus mercados, sociedades y culturas.
                      A continuación se explicarán algunas de las características de las sociedades actuales
                      influenciadas por este proceso:
                  </p>
                  <p>
                      *La globalización económica, refiere a la expansión de comercios, bienes y servicios entre
                      las distintas naciones.
                  </p>
                  <p>
                      *Omnipresencia de los medios masivos de comunicación: a partir de las nuevas tecnologías
                      como internet las noticias circulan, podemos saber lo que sucede al instante en cualquier
                      lugar del mundo. Los medios están presentes en todos los ámbitos de la vida: trabajo,
                      estudio, ocio.
                  </p>
                  <p>
                      *Nuevos modelos de agrupación familiar: las separaciones, divorcios familias ensambladas
                      generan un mayor protagonismo de la mujer en el mundo del trabajo, la cual por opción o
                      necesidad dedica menos tiempo a su familia.
                  </p>
                  <p>
                      *Sobreabundancia de información: es fácil acceder a cualquier información, lo difícil es
                      saber distinguir si esta es verdadera o falsa.
                  </p>
                  <p>
                      *Continuos avances científicos y tecnológicos: exigen a las nuevas generaciones una
                      renovación rápida del conocimiento, una formación continua.
                  </p>
                  <p>
                      *Libertad de movimiento: Cada vez son más los trabajadores que deben desplazarse, por ello
                      es muy importante el conocimiento de idiomas.
                  </p>
                  <p>
                      *Integración cultural: se imponen costumbres de los más poderosos.
                  </p>
                  <p>
                      *Relativismo ideológico: se valora más el tener que el ser.
                  </p>
                  <p>
                      La globalización aparece como un modelo de pensamiento, una forma de concebir el mundo, lo
                      social, la producción, la distribución de bienes y la relación entre las naciones. Se la
                      vincula al neoliberalismo, paradigma económico de nuestros tiempos.
                  </p>

                  <img src="images/globalizacioncompleta.png" alt="">

              </div>

              <!-- inicio aside -->

              <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                  <div>
                      <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="fh5co_tags_all">
                      <a href="#" class="fh5co_tagg">Globalización</a>
                      <a href="#" class="fh5co_tagg">Sociedades</a>
                      <a href="#" class="fh5co_tagg">Ipet 416</a>
                      <a href="#" class="fh5co_tagg">FVT</a>
                      <a href="#" class="fh5co_tagg">Mundo</a>
                  </div>
                  <div>
                      <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Entradas Recientes
                      </div>
                  </div>

                  <div class="row pb-3">
                      <div class="col-5 align-self-center">
                          <img src="images/sembrar1.jpg" alt="img" class="fh5co_most_trading" />
                      </div>
                      <div class="col-7 paddding">
                          <div class="most_fh5co_treding_font"> <a href=sembrandoencada.html>Sembrando en Casa</a>
                          </div>
                          <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                      </div>
                  </div>

                  <div class="row pb-3">
                      <div class="col-5 align-self-center">
                          <img src="images/jovenes-desocupados.jpg" alt="img" class="fh5co_most_trading" />
                      </div>
                      <div class="col-7 paddding">
                          <div class="most_fh5co_treding_font"> <a href=trabajoinformal.html>El trabajo formal e
                                  informal</a>
                          </div>
                          <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                      </div>
                  </div>

                  <div class="row pb-3">
                      <div class="col-5 align-self-center">
                          <img src="images/alertacoronavirus 1.jpg" alt="img" class="fh5co_most_trading" />
                      </div>
                      <div class="col-7 paddding">
                          <div class="most_fh5co_treding_font"> <a href=Alertacoronavirus.html>Alerta
                                  Coronavirus</a>
                          </div>
                          <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                      </div>
                  </div>

              </div>
              <!-- fin aside -->

          </div>
      </div>
  </div>

  <!-- inicio article -->
  <article>
      <div class="container-fluid pb-4 pt-5">
          <div class="container animate-box">
              <div>
                  <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tendencias</div>
              </div>
              <div class="owl-carousel owl-theme" id="slider2">

                  <div class="item px-2">
                      <div class="fh5co_hover_news_img">
                          <div class="fh5co_news_img"><img src="images/sembrandoencasa1.png" alt="" /></div>
                          <div>
                              <a routerLink="/SembdandoEnCasa" routerLinkActive="active" aria-current="page" class="d-block fh5co_small_post_heading"><span
                                      class="">Sembrando en casa
                                  </span></a>
                              <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                          </div>
                      </div>
                  </div>

                  <div class="item px-2">
                      <div class="fh5co_hover_news_img">
                          <div class="fh5co_news_img"><img src="images/egresado2020 2.png" alt="" /></div>
                          <div>
                              <a href="#" class="d-block fh5co_small_post_heading"><span class="">Egresados 2020
                                  </span></a>
                              <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                          </div>
                      </div>
                  </div>

                  <div class="item px-2">
                      <div class="fh5co_hover_news_img">
                          <div class="fh5co_news_img"><img src="images/preceptor 1.png" /></div>
                          <div>
                              <a href="#" class="d-block fh5co_small_post_heading"><span class="">El rol del
                                      preceptor
                                  </span></a>
                              <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                          </div>
                      </div>
                  </div>

                  <div class="item px-2">
                      <div class="fh5co_hover_news_img">
                          <div class="fh5co_news_img"><img src="images/alertacoronavirus 1.jpg" alt="" /></div>
                          <div>
                              <a routerLink="/AlertaCoronavirus" routerLinkActive="active" aria-current="page" class="d-block fh5co_small_post_heading"><span
                                      class="">Alerta Coronavirus
                                  </span></a>
                              <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </article>
  <!-- Fin article -->

</section>