<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Contacto</li>
  </ol>
</nav>





<div class="container">
<div class="row">
  <a href="#" class="fh5co_con_123"><i class="fa fa-home"></i></a>
  <a href="#" class="fh5co_con pt-2"> Contactos </a>
</div>
</div>


<div class="container-fluid  fh5co_fh5co_bg_contcat">
<div class="container">
  <div class="row py-4">
      <div class="col-md-4 py-3">
          <div class="row fh5co_contact_us_no_icon_difh5co_hover">
              <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                  <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-phone"></i></span> </div>
              </div>
              <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                  <span class="c_g d-block">Télefono</span>
                  <span class="d-block c_g fh5co_contact_us_no_text">0351 434-8935</span>
              </div>
              <div class="clearfix"></div>
          </div>
      </div>
      <div class="col-md-4 py-3">
          <div class="row fh5co_contact_us_no_icon_difh5co_hover">
              <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                  <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-envelope"></i></span> </div>
              </div>
              <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                  <span class="c_g d-block">Email</span>
                  <span class="d-block c_g fh5co_contact_us_no_text">ipetn416@gmail.com</span>
              </div>
              <div class="clearfix"></div>
          </div>
      </div>
      <div class="col-md-4 py-3">
          <div class="row fh5co_contact_us_no_icon_difh5co_hover">
              <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                  <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-map-marker"></i></span> </div>
              </div>
              <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                  <span class="c_g d-block">Dirección</span>
                  <span class="d-block c_g fh5co_contact_us_no_text"> Ruta 9 Sur - Barrio Ciudad de Mis Sueños</span>
              </div>
              <div class="clearfix"></div>
          </div>
      </div>
      <div class="clearfix"></div>
  </div>
</div>
</div>
<div class="container-fluid mb-4">
<div class="container">
  <div class="col-12 text-center contact_margin_svnit ">
      <div class="text-center fh5co_heading py-2">Contactos</div>
  </div>
  <div class="row">
      <div class="col-12 col-md-6">
          <form class="row" id="fh5co_contact_form">
              <div class="col-12 py-3">
                  <input type="text" class="form-control fh5co_contact_text_box" placeholder="Ingrese su email" />
              </div>
              <div class="col-6 py-3">
                  <input type="text" class="form-control fh5co_contact_text_box" placeholder="E-mail" />
              </div>
              <div class="col-6 py-3">
                  <input type="text" class="form-control fh5co_contact_text_box" placeholder="Tema" />
              </div>
              <div class="col-12 py-3">
                  <textarea class="form-control fh5co_contacts_message" placeholder="Mensaje"></textarea>
              </div>
              <div class="col-12 py-3 text-center"> <a href="#" class="btn contact_btn">Enviar Mensaje</a> </div>
          </form>
      </div>
      <div class="col-12 col-md-6 align-self-center">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1011.6296802683224!2d-64.0865876415439!3d-31.477352836061012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432bbbe6bf15531%3A0x45dcfb32a1e1af46!2sEscuela%20Maestra%20Mar%C3%ADa%20Saleme!5e0!3m2!1ses!2sar!4v1633653703851!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
  </div>
</div>
</div>
